@import '../../root/variables.less';

.chatList {
    list-style: none;
    padding: 10px;
    margin: 0;
    width: 100%;

    & > a {
        & > li {
            display: flex;
            margin: 10px;
            padding-bottom: 10px;
            align-items: center;
            border-bottom: 1px solid #17380b;
            cursor: pointer;

            &:after {
                content: '\f054';
                margin-left: auto;
                padding-left: 10px;
            }
        }

        &:last-child > li {
            border-bottom: none;
        }
    }

    .content {
        margin-left: 10px;
        width: 100%;
    }
    .subtitle {
        font-size: 0.8em;
        margin-top: 4px;
        color: #17380b;
    }

    .usercount {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 0.8em;
        color: #ccc;
    }

    .multiple .profileImage {
        height: 1.25em;
        width: 1.25em;
        border-width: 1px;
    }

    .multiple {
        display: flex;
        min-width: 44px;
        height: 44px;
        flex-wrap: wrap;
    }
    .time {
        white-space: nowrap;
    }
}

